
/* Your CSS Code here. */
#btn {
  background-color:black;
  font-color:white;
  border:none;
  border-radius:5px;
        }

#btn:hover{
   background-color:yellow;
   font-color:black;
   border:none;
   border-radius:30px;
   
          }
